<router-outlet></router-outlet>
<div [id]="myId" >
    <!-- <div *ngIf="hide"> -->
    <div class="img">
      <img src="/assets/DS LOGO(1).png" height="100px" width="100px" *ngIf="ds">
      <img src="/assets/m2 logo-1.png" height="80px" width="250px" *ngIf="m2">
  </div><br>
  <h1 *ngIf="ds"> Digerati Software Development and Services LLP<br> 
      Payslip for the month May 2022 <br>
      Financial Period 2022-2023<br> <br>
      </h1>
      <h1 *ngIf="m2"> M2 Data Studio Private Ltd<br> 
        Payslip for the month {{month}} {{year}} <br>
        Financial Period 2022-2023<br> <br>
        </h1>
      <br>
      
      <div class="table"> 
      <table>
          <!-- <div class="table1"> -->
          <tr>
              <th  colspan="4">Employee Information </th>
          </tr>
          <tr>
              <td class="th1"  colspan="4" style="font-weight: bold;">{{Employee_Name}}</td>
          </tr>
          <tr >
              <td>Employee ID</td>
              <td>{{Employee_id}}</td>
              <td>Designation</td>
              <td>{{Designation}}</td>
          </tr>
          <tr>
              <td>Gender</td>
              <td>{{Gender}}</td>
              <td>Date Of Joining</td>
              <td>  {{Date_of_Joining}}  </td>
          </tr>
          <tr>
              <td>PAN</td>
              <td>{{PAN}}</td>
              <td>Bank Account</td>
              <td>{{Bank_AC_Number}}  </td>
          </tr>
          <tr>
              <td>Location</td>
              <td>{{Location}}</td>
              <td>Loss of Pay</td>
              <td>{{LOP}}</td>
          </tr>
          <!-- </div> -->
          </table><br>
    <div class="table2" >
          <table >
              <tr>
                  <th>Earnings</th>
                  <th>Amount</th>
                  <th>Deductions</th>
                  <th>Amount</th>
              </tr>
              <tr>
                  <td>Basic</td>
                  <td>{{Basic}}</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>HRA</td>
                  <td>{{HRA}}</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>Conveyance</td>
                  <td>{{Conveyance}}</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>Other Allowance</td>
                  <td>{{Other_allowance}}</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td colspan="4">
  
                  </td>
              </tr>
              <tr>
                  <td>Total Earnings</td>
                  <td>{{Salary}}</td>
                  <td>Total Deductions</td>
                  <td>{{Total_Detuctions}}</td>
              </tr>
              <tr>
                  <th colspan="3">Net Salary = ( A ) - ( B )</th>
                  <td>{{total}}</td>
              </tr>
          </table>
          </div>
          <br>
           <div class="buttons">
              <!-- <button (click)="back()"><i class="fa fa-angle-double-left"></i> back</button> -->
          <button (click)="print()" >print</button>
          <!-- <button (click)="back()"><i class="fa fa-angle-double-left"></i> back</button> -->
          <!-- </div> -->
           
      
             </div>
   </div>
   </div>
